.doubleUnderline {
    text-decoration: underline;
    border-bottom: 1px solid #000;
    border-bottom-color: inherit;
}

td.child {
    text-align: left !important;
}

.dtr-title {
    font-weight: bold !important;
}


.pdfobject-container { height: 500px;}
.pdfobject { border: 1px solid #666; }

.badge-waring{
    background-color: #ffca00;
}

.select2-container .select2-selection--single .select2-selection__rendered{
    display: initial !important;
}


.dz-progress{
    display: none !important;
}

.dz-remove{
    background-color: red;
    color: white;
    text-decoration:none !important;
}

a.dz-remove:visited {
    text-decoration: none;
    color: white;

}

a.dz-remove:link {
    color: white;
}


a.dz-remove:hover {
    color: white;
}

a.dz-remove:active {
    color: white;
}

.dropzone .dz-preview .dz-image img {
    width: 120px !important;
    height: 120px !important;
}
