.doubleUnderline {
    text-decoration: underline;
    border-bottom: 1px solid #000;
    border-bottom-color: inherit;
}

td.child {
    text-align: left !important;
}

.dtr-title {
    font-weight: bold !important;
}


.pdfobject-container { height: 500px;}
.pdfobject { border: 1px solid #666; }
